*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body,html {
      height: 100%;
      width: 100%;
      display: flex; 
       justify-content: center;
       align-items: center;
 }
  .main{
      display: flex;
      height: 50%;
      width: 18% ;
      background-color: red;
       border : 2px solid black;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all ease 1s;

  }
   .main img {
      height: 100%;
      width: 100%;
      object-fit: cover;

   }
   .main img:hover {
        scale: 1.2;
   }